{{ define "comment" }}

<div class="comment rounded border border-muted p-2 mt-2 comment-{{ .Id }}">
    <div class="content">
        <span>{{ .Content }}</span>
        <div style="display: none;">
            <textarea class="form-control">{{ .Content }}</textarea>
            <button class="btn btn-dark btn-sm mt-2" onclick="editComment('{{ .Id }}')">Edit</button>
        </div>
    </div>
    <hr class="mb-1">
    <div class="row">
        <div class="col">
            <span class="float-start text-muted">
                posted by <a href="/account/{{ .Username }}">{{ .Username }}</a>
            </span>
        </div>
        <div class="col">
            <span class="float-end text-muted">{{ formatDate .CreatedAt }}</span>
        </div>
    </div>
    {{ if eq getUserId .UserId }}
    <div>
        <button class="btn btn-link border-0 p-0 col" onclick="showCommentEdit('{{ .Id }}')"
            style="padding: 0;">Edit</button>
        <button class="btn btn-link border-0 p-0 col" onclick="deleteComment('{{ .Id }}')"
            style="padding: 0;">Delete</button>
    </div>
    {{ end }}
</div>

{{ end }}
